.btn:hover>.icon {
    background-color: var(--bs-dark);
    color: white;
}
.nav {
    transition: transform 150ms ease-in-out;
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.navbar {
    all: unset;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    transition: transform 150ms ease-in-out;
    border-bottom: 1px solid #e5e7eb;
    background: white;
}
.navbar.navbar--hidden {
    transform: translateY(-100%);
}
.navbar__container {
    display: flex;
    justify-content: space-between;
}
.navbar__hamburger-button {
    padding: 0px;
    display: none;
}
.navbar__brand {
    font-weight: bold;
    font-size: calc(1.3rem + .6vw);
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}
.navbar__brand-logo {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.navbar__brand-logo > img {
    height: 3rem;
}
.navbar__toolbar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.navbar__menu-header--mobile {
    display: none !important;
    justify-content: space-between;
    padding: 0 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e5e7eb;
}
.navbar__menu-close {
    padding: .5rem;
    display: block;
    margin-left: auto;
}
.navbar__header-top {
    display: block;
}
.navbar__controls-container {
    display: flex;
    flex-grow: 1;
}
.navbar__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar__search {
    position: relative;
}
.navbar__search-inner-wrapper {
    display: flex;
    position: relative;
}
.navbar__search-back-button {
    padding: .5rem;
    position: relative;
    display: none;
}
.navbar__search-back-button:hover > i {
    background: var(--bs-dark);
    color: white;
}
.navbar__search-button, .navbar__search-clear-button {
    position: relative;
    padding: .5rem;
}
.navbar__search-clear-button:hover > i {
    background: var(--bs-dark);
    color: white;
}
.navbar__search-loading {
    position: absolute;
    right: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar__search-loading > .spinner-border {
    width: 1.25rem;
    height: 1.25rem;
}
.navbar__search-input {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 100%;
    transform: translateX(-100%);
    padding: .25rem;
    border-radius: 0px;
    width: 15vw;
    min-width: 200px;
    max-width: 300px;
    background: var(--bs-light);
}
.navbar__search-input:focus {
    background: var(--bs-light);
}
.navbar__search-result {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 3rem;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: .5rem;
    background: white;
    width: 330px;
    height: calc(100vh - 5rem);
    overflow: hidden;
}
.navbar__search-result-list {
    margin-bottom: 0px;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
.navbar__search-result-list > li.navbar__search-result-item + li.navbar__search-result-item {
    margin-top: 1rem;
}
.navbar__search-result-card {
    display: flex;
    gap: .5rem;
}
.navbar__search-result-list {
    padding-left: 0px;
    list-style: none;
}
@media (max-width: 992px) {
    .navbar__hamburger-button {
        display: inline-block;
    }
    .navbar__search-input {
        display: none;
    }
    .navbar__search.visible {
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        background: var(--bs-light);
    }
    .navbar__search.visible .navbar__search-back-button {
        display: initial;
    }
    .navbar__search.visible .navbar__search-inner-wrapper {
        background: var(--bs-light);
        border-bottom: 1px solid #d1d5db;
        width: 100%;
        display: block;
        margin: 0 1rem;
    }
    .navbar__search.visible .navbar__search-inner-wrapper:focus-within {
        border-bottom: 1px solid var(--bs-dark);
    }
    .navbar__search.visible .navbar__search-input {
        display: initial;
        max-width: none;
        border: none;
        width: calc(100% - 3rem);
    }
    .navbar__search.visible .navbar__search-button, .navbar__search.visible .navbar__search-clear-button {
        display: block;
        float: right;
    }
    .navbar__search-result {
        width: 100%;
        margin-top: 0rem;
    }
    .navbar__search-loading {
        top: 0;
        right: 0;
        transform: translateX(-2.5rem);
    }
    .navbar__search-loading > .spinner-border {
        width: 1.25rem;
        height: 1.25rem;
    }    
    .navbar__toolbar {
        width: initial;
    }
    .navbar__header-top {
        display: none;
    }
    .navbar__menu-header--mobile {
        display: flex !important;
    }
}