.btn:hover>.icon {
    background-color: var(--bs-dark);
    color: white;
}
.nav {
    transition: transform 150ms ease-in-out;
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.navbar {
    all: unset;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    transition: transform 150ms ease-in-out;
    border-bottom: 1px solid #e5e7eb;
    background: white;
}
.navbar.navbar--hidden {
    transform: translateY(-100%);
}
.navbar__container {
    display: flex;
    justify-content: space-between;
}
.navbar__hamburger-button {
    padding: 0px;
    display: none;
}
.navbar__header {
    display: flex;
    width: initial;    
}
.navbar__brand {
    font-weight: bold;
    font-size: calc(1.3rem + .6vw);
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}
.navbar__brand-logo {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.navbar__brand-logo > img {
    height: 3rem;
}
.navbar__toolbar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.navbar__menu-header--mobile {
    display: none !important;
    justify-content: space-between;
    padding: 0 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e5e7eb;
}
.navbar__menu-close {
    padding: .5rem;
    display: block;
    margin-left: auto;
}
.navbar__toolbar-top {
    display: block;
}
.navbar__controls-container {
    display: flex;
    flex-grow: 1;
}
.navbar__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}
@media (max-width: 992px) {
    .navbar__header {
        width: 100%;
    }
    .navbar__header.navbar__menu--show {
        display: flex !important;
        position: absolute;
        z-index: 1020;
        background: white;
        right: 0;
        top: 0;
        border-bottom: 1px solid var(--bs-light);
    }
    .navbar__header.navbar__menu--show > button {
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .navbar__header > .navbar__brand{
        margin: auto;
    }
    .navbar__hamburger-button {
        display: inline-block;
    } 
    .navbar__toolbar {
        width: initial;
    }
    .navbar__toolbar-top {
        display: none;
    }
    .navbar__menu-header {
        display: flex !important;
    }
}