.navbar__menu-item {
    text-transform: uppercase;
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 100%;
}
.navbar__menu-item.active {
    -webkit-box-shadow:inset 0rem -0.3rem 0rem 0rem var(--bs-dark);
    -moz-box-shadow:inset 0rem -0.3rem 0rem 0rem var(--bs-dark);
    box-shadow:inset 0rem -0.3rem 0rem 0rem var(--bs-dark);
}
.navbar__menu-item.active > .dropdown__menu {
    display: flex;
}

@media (max-width: 992px) {
    .navbar__menu-item {
        display: block;
        height: initial;
    }
    .navbar__menu-item.active {
        font-weight: bold;
        box-shadow: none;
    }
    .navbar__menu-item.active > .dropdown__menu {
        margin-left: 1rem;
    }
    .navbar__menu-item {
        height: auto;
    }
    .navbar__menu-item + .navbar__menu-item {
        margin-top: 1rem;
    }
}