.nav-list {
    justify-content: start;
    margin-left: 1rem !important;
}
@media (min-width: 1280px) {
    .nav-list {
        justify-content: center;
        margin-left: 0rem !important;
    }
}
@media (max-width: 992px) { 
    .hide-menu {
        display: none !important;
    }
    .show-menu {
        display: block !important;
    }
    .nav-list {
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        background: white;
        height: 100vh;
        width: 100%;
        max-width: 576px;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        margin-left: 0rem !important;
    }
    .nav-list > .nav-item {
        height: auto !important;
    }
    .nav-list > .nav-item + .nav-item {
        margin-top: 1rem;
    }
}