.navbar__menu {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: start;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    border: none;
}
@media (min-width: 1280px) {
    .navbar__menu {
        justify-content: center;
        margin-left: 0rem !important;
    }
}
@media (max-width: 992px) { 
    .navbar__menu--hide {
        display: none !important;
    }
    .navbar__menu--show {
        display: block !important;
    }
    .navbar__menu {
        display: block;
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        background: white;
        height: 100vh;
        width: 100%;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        margin-left: 0rem !important;
        border-right: 1px solid #e5e7eb;
    }
}