.dropdown__menu-item {
    white-space: nowrap;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: normal;
}
.dropdown__menu-item + .dropdown__menu-item {
    margin-top: 1rem;
}
.dropdown__menu-item.active {
    font-weight: bold;
}
.dropdown__menu-item.active > .dropdown__menu {
    display: flex;
    left: 100%;
    right: 0%;
}
.dropdown__menu-item > .dropdown__menu {
    top: auto;
    margin-top: .5rem;
    transform: translateY(-50%);
}
@media (max-width: 992px) {
    .dropdown__menu-item {
        padding: 0rem;
    }
    .dropdown__menu-item.active > .dropdown__menu {
        position: static;
        transform: translateY(0%);
    }
}